<h3 style="text-align: center;">Mandal-Wise Registration Details</h3>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container" style="text-align: center;">
    <p style="font-weight: bold;">Total Registered Teachers : {{total}}</p>
    <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th>Mandal</th>
            <th>Registered Teachers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mandal of mandalDetails">
            <td>{{mandal.Mandal}}</td>
            <td>{{mandal.Registered_Teachers}}</td>
          </tr>
        </tbody>
      </table>
      
</div>
